<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392646462423-t71vqhq6n9mp57qc4ob6b96skoqu9232.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392646462423-t71vqhq6n9mp57qc4ob6b96skoqu9232</string>
	<key>API_KEY</key>
	<string>AIzaSyCUaj8SHOZ07hBJG1AeH8jVbJB5alteT9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>392646462423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sj-dev.Mullo</string>
	<key>PROJECT_ID</key>
	<string>mullo-71410</string>
	<key>STORAGE_BUCKET</key>
	<string>mullo-71410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392646462423:ios:5c9b4f3a2ac2a0e98e5992</string>
</dict>
</plist>